/* =============
    Index - Projects
============= */
@use "../../helpers";

#index-projects {
    border: 1px solid red;
    background-color: var(--light-grey);

    @include helpers.xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". index-projects .";
    }

    #index-projects-container {

        @include helpers.xl {
            grid-area: index-projects;
            
        }

        #index-projects-galley {
            display: grid;
            gap: 32px;

            @include helpers.md {
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "ip1 ip1 ip2 ip2"
                    ".. ip3 ip3 ..";
            }

            @include helpers.lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "ip1 ip2 ip3";
            }

            li {
                .hero {
                    height: 400px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 32px;
                    margin-bottom: 12px;
                }
            }

            #index-project-1 {
                @include helpers.md {
                    grid-area: ip1;
                }
                .hero {
                    background-image: url("../img/index/projects/project-1.jpg");
                }
            }

            #index-project-2 {
                @include helpers.md {
                    grid-area: ip2;
                }
                .hero {
                    background-image: url("../img/index/projects/project-2.jpg");
                }
            }

            #index-project-3 {
                @include helpers.md {
                    grid-area: ip3;
                }
                .hero {
                    background-image: url("../img/index/projects/project-3.jpg");
                }
            }

            .index-project-content {
                h3 {
                    color: var(--dark-green);
                    font-weight: 550;
                    font-size: helpers.rem-calc(18);
                }

                h2 {
                    font-size: helpers.rem-calc(22);
                }
            }
        }
    }
}
