/* =============
    Index - Services
============= */
@use "../../helpers";

#index-services{
    background-color: var(--light-grey);


    @include helpers.xl{
        // width: 1200px;
        // margin: 0 auto;
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". index-services .";
    }

    #index-services-container{

        @include helpers.xl{
            grid-area: index-services;
        }

        #title-block{
            margin-bottom: 36px;

            h3{
                color: var(--dark-green);
                font-size: helpers.rem-calc(16);
                font-weight: 600;
                margin-bottom: 16px;
            }

            h2{
                font-size: helpers.rem-calc(40);
                font-weight: 950;
                // margin-bottom: 24px;
            }

            #title-top{
                margin-bottom: 0px;
                // border: 1px solid red;
            }
        }

        #services-cards{
            display: grid;
            gap: 24px;
            

            @include helpers.md{
                display: grid;
                grid-template-columns: 50% auto;
            }

            .services-card{
                background-color: var(--white);
                padding: 8px;
                border-radius: 32px;
                height: 100%;
                display: flex;
                flex-direction: column;


                .hero-img{
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                    border-radius: 20px;
                }

                .card-content{
                    padding: 24px;
                    display: grid;
                    gap: 16px;
                    flex: 1;
                    min-height: 0;
                    box-sizing: border-box;

                    .icon{
                        background-color: var(--light-grey);
                        padding: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: inline-block;
                        color: var(--dark-green);
                        border-radius: 12px;
                    }

                    a:link, a:visited{
                        color: var(--dark-green);
                        display: inline-block;
                        margin-top: auto;

                        &:hover, &:active{
                            color: var(--black);
                        }

                        i{
                            margin-left: 4px;
                            font-size: helpers.rem-calc(14);
                        }
                    }
                }

            }

            #covers{
                .hero-img{
                    background-image: url("../img/index/services/cover.jpg");
                }
            }

            #coatings{
                .hero-img{
                    background-image: url("../img/index/services/coating.jpg");
                }
            }
        }

    }
}