/* =============
    Index - Hero
============= */
@use "../../helpers";

// =============
//   Index - Hero
// =============

#index-hero{
    background-image: url("../img/index/hero/hero.jpg");
    background-size: cover;
    height: 100vh;
}