/* =============
    Index - Quotes
============= */
@use "../../helpers";

#index-quotes{
    background-color: var(--charcoal);

    @include helpers.lg{
        display: grid;
        grid-template-columns: auto 992px auto;
        grid-template-areas: ". index-quotes .";
    }

    #quote-container{

        text-align: center;
        color: var(--white);


        @include helpers.lg{
            grid-area: index-quotes;
        }


        p{
            font-size: helpers.rem-calc(28);
            font-weight: 800;
        }

        .avatar-title{
            margin-top: 36px;
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;
            text-align: left;

            .avatar{
                width: 50px;

                @include helpers.md{
                    width: 75px;
                }

                @include helpers.lg{
                    width: 50px;
                }

                img{
                    width: 100%;
                }
            }

            h3{
                font-weight: 50;
                font-weight: 600;
                font-size: helpers.rem-calc(16);
                margin-bottom: 4px;
            }

            h4{
                color: var(--light-grey);
                font-weight: 400;
                font-size: helpers.rem-calc(12);
            }
        }
    }
}
