/* =============
    Base
============= */
@use "../helpers";

html {
    scroll-behavior: smooth;
}

body {
    // padding-top: 80px; // match your header's height
    margin: 0;
}

ul{
    li{
        list-style: none;
    }
}

.show-lg{
    display: none;
    @include helpers.lg{
        display: block;
    }
}

.hide-lg{
    @include helpers.lg{
        display: none;
    }
}

.content-padding{
    padding: 10vh 0;
    padding-left: 16px;
    padding-right: 16px;

    @include helpers.md{
        // padding: 15vh 0;
    }

    @include helpers.lg{
        
    }

    @include helpers.xl{
        
    }

    @include helpers.xxl{
        
    }
}

.hero-pill-conttainer{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    .hero-pill{
        background-color: var(--light-green);
        border: 1px solid var(--green);
        color: var(--green);
        padding: 8px 16px;
        border-radius: 100px;
        text-align: center;
    }
}

.divide{
    height: 1px;
    width: 100%;
    background-color: var(--grey);
    margin: 24px 0;
}


#green-start{
    background-color: var(--dark-green);
    color: var(--white);

    @include helpers.lg{
        display: grid;
        grid-template-columns: auto 992px auto;
        grid-template-areas: ". index-start .";
    }

    #start-container{
        text-align: center;

        @include helpers.lg{
            grid-area: index-start;
        }

        h2{
            font-size: helpers.rem-calc(50);
            font-weight: 900;

            @include helpers.md{
                font-size: helpers.rem-calc(70);
            }

            @include helpers.lg{
                font-size: helpers.rem-calc(90);
            }

            @include helpers.xl{
                font-size: helpers.rem-calc(110);
            }
        }

        p{
            margin: 24px 0;
        }

        a:link, a:visited{
            background-color: var(--white);
            color: var(--black);
            font-weight: 500;
            padding: 16px;
            border-radius: 100px;

            &:hover, &:active{
                background-color: var(--charcoal);
                color: var(--white)
            }
        }
    }
}