/* =============
    Typography
============= */
@use "../helpers";

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--charcoal);
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}


#title-block{
    margin-bottom: 36px;

    h3{
        color: var(--dark-green);
        font-size: helpers.rem-calc(16);
        font-weight: 600;
        margin-bottom: 16px;
    }

    h2{
        font-size: helpers.rem-calc(40);
        font-weight: 950;
    }
}

#page-title{   
    font-size: helpers.rem-calc(60);
    font-weight: 900;

    @include helpers.md{
        font-size: helpers.rem-calc(90);
    }

    @include helpers.lg{
        font-size: helpers.rem-calc(100);
    }

    @include helpers.xl{
        font-size: helpers.rem-calc(110);
    }  
}

.site-content{
    
}

